@import url("//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css");

body {
  padding-top: 70px;
  position: relative;
  background-color: LightSkyBlue;
  background-image: url("https://cloud.githubusercontent.com/assets/8481204/3986806/932525c0-289e-11e4-8bb6-0be79bffa29c.jpg");
}

.well {
  height: 825px;
  padding-top: 50px;
  background-color: LightCyan;
}

